<%- include('header-part') %>
<%- include('navbarIsLogin') %>

<body>

  <div style="text-align: center; margin-top: 5%;">
    <h1>Admin Page</h1><br>

    <button class="btn btn-secondary"><a href="/admin/student" style="color: aliceblue;">STUDENT</a></button>
    <button class="btn btn-secondary"><a href="/" style="color: whitesmoke;">INSTRUMENT</a></button>
</div>
</body>
</html>