<nav class="navbar navbar-light bg-light" style="margin: 0px;">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">Music<strong style="color: rgb(71, 179, 71);">Course</strong></a>
    <form class="d-flex" action="/login">
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form>
  </div>
</nav>