<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PianoClass</title>
</head>
<body>
  <h1>Welcome To Drum Class</h1><br>

  <hr>
  <h3>Drum Rules</h3>
  <hr>

    <ul>
      <li> Class Piano diadakan pada hari Senin dan Rabu, pukul 16.00-18.00 </li>
      <li> Belajar fokus dari dasar, yaitu membaca partitur </li>
      <li> 1-2 bulan pertama belum memainkan lagu </li>
    </ul>

    <br><br>


    <p>Apakah kamu benar-benar ingin mengikuti Piano Class?</p> <br>
    <a href="">Join</a>
    <a href="/">Cancel</a>

</body>
</html>