<%- include('header-part') %>

<body>
  <div style="margin-top: 4%;" class="row">
    <div class="col-md-6 offset-md-3">
      <h1 style="text-align: center;">Welcome To Gitar Class</h1><br>

      <hr>
      <h3 style="text-align: center;">Gitar Rules</h3>
      <hr>
    
        <ul>
          <li> Class Gitar diadakan pada hari selasa dan kamis, pukul 16.00-18.00 </li>
          <li> Ada tambahan class di hari sabtu, pukul 10.00 pagi </li>
          <li> Belajar fokus dari nada dasar </li>
          <li> Jika memiliki gitar pribadi, bisa dibawa saat class dimulai </li>
          <li> 1-2 bulan pertama belum memainkan lagu </li>
        </ul>
    
        <br><br>
    
    
        <p>Apakah kamu benar-benar ingin mengikuti Gitar Class?</p> <br>
        
        <button type="button" class="btn btn-primary"><a style="color: aliceblue;" href="/login">Join</a></button>
        <button type="button" class="btn btn-secondary"><a style="color: aliceblue;" href="/">Cancel</a></button>
    </div>
  </div>
  

</body>
</html>