<%- include('header-part') %>

<body>

  <div style="margin-top: 4%;" class="row">
    <div class="col-md-6 offset-md-3">
      <h1 style="text-align: center;" >Welcome To Drum Class</h1><br>

      <hr>
      <h3 style="text-align: center;" >Drum Rules</h3>
      <hr>
    
        <ul>
          <li> Class Drum diadakan pada hari Senin dan Kamis, pukul 16.00-18.00 </li>
          <li> Belajar fokus dari dasar </li>
          <li> Harap membawa stik pribadi</li>
          <li> Tidak diperbolehkan menggunakan perlatan di jam sekolah </li>
        </ul>
    
        <br><br>
    
    
        <p>Apakah kamu benar-benar ingin mengikuti Drum Class?</p> <br>
        
        <button type="button" class="btn btn-primary"><a style="color: aliceblue;" href="/login">Join</a></button>
        <button type="button" class="btn btn-secondary"><a style="color: aliceblue;" href="/">Cancel</a></button>
    </div>
  </div>
  

</body>
</html>